<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
  <test name="cartTest">
    <classes>
      <class name="pages.productsPage"/>
    </classes>
  </test>
  <test name="contactTest">
    <classes>
      <class name="pages.contactsPage"/>
    </classes>
  </test> <!-- Test -->
  <test name="registerTest">
    <classes>
      <class name="pages.registerPage"/>
    </classes>
  </test> <!-- Test -->
    <test name="subscriptionTest">
    <classes>
      <class name="pages.homePage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
